h1{
	padding-left:80px;
	padding-top:50px;
	font-family: 'Playfair Display', serif;
}
.forms{
	padding-left:80px;
	padding-top:20px;
	font-size:1.5em;
	font-family: 'Playfair Display', serif;
}
.submit{
	background:black;
	color:white;
}
.terms{
	padding-left:50px;
	font-size:1.5em;
	color:#151515;
	font-family: 'Playfair Display', serif;
}

h5{
	font-family: 'Playfair Display', serif;
	font-size:1.5em;
	padding-left:100px;
	padding-top:50px;
}
.info{
	font-family: 'Playfair Display', serif;
	font-size:1.5em;
	padding-left:100px;
	padding-top:50px;
}
#login{
	font-family: 'Playfair Display', serif;
	font-size:40px;
	margin-left:75px;
	margin-top:70px;
}
#r{
	margin-top:45px;
	margin-left:75px;
	font-family: 'Playfair Display', serif;
	font-size:20px;
}
#v{
	font-family: 'Playfair Display', serif;
	font-size:20px;
}
#hr{
	margin-left:75px;
	background:black;
	width:500px;
}
#vv{
	background:black;
	width:600px;
}
#registered{
	margin-left:75px;
	font-family: 'Playfair Display', serif;
	font-size:15px;
	margin-top:10px;
}
#form{
	font-family: 'Playfair Display', serif;
	border-radius:1px;
	height:40px;
	width:500px;
}
#log{
	margin-left:300px;
	width:200px;
	height:50px;
	background:#000000;
	color:#FFFFFF;
	border:0px;
	border-bottom:0px;
}
#reg{
	margin-left:300px;
	width:200px;
	height:50px;
	background:#000000;
	color:#FFFFFF;
	border:0px;
	border-bottom:0px;
}
#contact{
	font-family: 'Playfair Display', serif;
	font-size:15px;
}
#tb{
	font-size:30px; 
	color:#000000; 
	text-decoration:none;
}
#errors{
	font-family: 'Playfair Display', serif;
	color:red;
	margin-left:100px;
}
#errorreg{
	font-family: 'Playfair Display', serif;
	color:red;
	margin-left:200px;
}