@import url('https://fonts.googleapis.com/css?family=Raleway');
.panel-footer{
	margin-left:20px;
	margin-right:20px;
	
}
.images{
	background:black;
	margin-top:50px;
	margin-left:80px;
	display: flex;
    justify-content: center;
}
.brand{
	font-weight:bold;
}
.brand,.desc,.price{
	text-transform:capitalize;
	font-family: 'Raleway', sans-serif;
	text-align:left;
}