.middle {
    transition: .5s ease;
    position: absolute;
    top: 75%;
    left: 50%;
    width: 24em;
    align-content: center;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%)
}
.image {
    opacity: 0.9;
    display: block;
    transition: .5s ease;
    backface-visibility: hidden;
    z-index: -1;
}
.middle-text {
    color: black;
    font-size: 1em;
    font-family: 'Oswald', sans-serif;
}
.middle-title{
    color:black;
    font-size: 2em;
    font-family: 'Playfair Display', serif;
}
.middle-title1{
    color:black;
    font-size: 2em;
    font-family: 'Playfair Display', serif;

}

.middle-contain{
    height: 12em;
    padding-left: 3em;
    padding-top: 3em;
    background-color: white;
    align-content: center;
    align-self: center;
}
.middle-contain1{
    height: 12em;
    padding-left: 2.5em;
    padding-top: 3em;
    background-color: white;
    align-content: center;
    align-self: center;
}
.middle-btn{
    border-style: inset !important;
    border-color: black;
    margin-left: 4em;
}
.middle-btn1{
    border-style: inset !important;
    border-color: black;
    margin-left: 5em;
}
.navbar , .btn-new{
    background:black;
}
navbar-fixed-top {
    min-height: 80px;
}
.navbar-fixed-top .navbar-collapse {
    max-height: 80px;
}

@media (min-width: 768px) {
    .navbar-fixed-top .navbar-collapse {
        max-height: 100px;
    }
}
.navbar .navbar-brand{
    height: 100px;
}
.nav{
    position:relative;
    top:20px;
    font-family: 'Playfair Display', serif;
    font-size:15pt;
}
#brand{
    text-align:center;
    font-family: 'Playfair Display', serif;
    font-size:12pt;
}

.cert{
    height:500px;
    width:100%;
    background:black;
    position:relative;
    top:100px;
}
.id{
    height:350px;
    position:relative;
    top:100px;
    font-size:4em;
    color:#eaeaea;
    text-align:left;
    font-family: 'Abril Fatface', cursive;
}
.a{
    color:#eaeaea;
    font-size:15px;
}

.brand , .desc ,.price{
    text-align:center;
}

@media (min-width: 768px) {
    .container, .panel-table,  {
        max-height: 100px;
        max-width: 500px;
    }
}
